@model PL.Models.MaterialViewModel

@{
    ViewBag.Title = "Admin panel: Add material";
}

<div class="panel">

    <div class="panel-heading">
        <h3>Add Material</h3>
    </div>

    @using (Html.BeginForm("Create", "Admin",
       FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id":
                    case "Image":
                    case "ImageIn":
                        break;

                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                 new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                 new { @class = "form-control" })
                            }
                            <strong>@Html.ValidationMessage(property.PropertyName)</strong>
                        </div>
                        break;
                }
            }

            <form asp-action="Create" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <p>
                    <label>Add Image</label>
                    <input name="ImageIn" type="file" class="form-control" />
                </p>
            </form>

            <div class="panel-footer">
                <input type="submit" value="Add material" class="btn btn-primary" />
                
                @using (Html.BeginForm("Index", "Admin"))
                {
                    <input type="submit"
                           class="btn btn-danger"
                           value="Cancel and go back" />
                }
            </div>
        </div>
    }
</div>
